.layout {
  display: grid;
  grid-template-columns: 50% 50%;
}

nav {
  padding: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  /* place-content: space-around; */
  padding: 0;
  margin: 0;
}

.items {
  padding: 0 25px;
}

.item {
  border-bottom: 1px solid;
  padding: 10px;
}

.item button {
  height: 25px;
  width: 25px;
  background: none;
  border-radius: 5px;
  /* margin: 0 10px; */
  cursor: pointer;
}

.item input {
  width: 25px;
  height: 20px;
}

button.checkout {
  height: 40px;
  width: 150px;
  background: lightblue;
  font-size: 14px;
}
